*.codetoc
*.cpt
*.hd
*.idx
*.ilg
*.ind
*.pdf
*.synctex(busy)
/ctan
/texmf
/releases
_region_.tex
advice-tikz.code.tex
advice.dtx
advice.sty
advice.tex
advice.zip
collargs.dtx
collargs.sty
collargs.tex
collargs.zip
link-generated-files-into-texmf.sh
memoizable.sty
memoizable.tex
memoizable.code.tex
memoize-extract-one.tex
memoize.dtx
memoize.sty
memoize.tex
memoize.zip
nomemoize.sty
nomemoize.tex
t-advice.tex
t-collargs.tex
t-memoizable.tex
t-memoize.tex
t-nomemoize.tex
memoize-*.code.tex
/temp
/test-*
test.*
*.1
/oldtemp
*.py.dtx
*.pl.dtx
